<!DOCTYPE html>
<html>  
<head>  
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstrap.css') }}">
	<title>success</title>  
	<style>
		.center {
  			display: block;
  			margin-left: auto;
  			margin-right: auto;
		}
		.detect_button{
			background-color: #359977;
			margin-top: 10px;
		}
	</style>
</head>  
<body style="background-color:#eaebd0;">  
	<header>
		<div style="border-radius: 10px;">	
			<div style="background-color:#359977; margin-top: 50px; height: 100px; border-radius: 10px;">
				<p style="font-size:40px; text-align: center;">File uploaded successfully and Detected Dog Breed</p>  
			</div>			
			
			<!--<img src="{{url_for('success', filename='{{ name }}')}}" align="middle" />-->
		</div>
	</header>
	<div class="container">
		<div>
			<p style="font-size:35px; text-align: center;">{{name}}</p>  
			<!-- <p style="font-size:25px; text-align: center;">Input Image</p> -->
			<img class="center" src="{{ img }}">
		</div>
		<div>
			<p style="font-size:25px; text-align: center;">{{out_1}}</p>
			
		</div>
		

			
		<form action="/">
		
		<input class='btn btn-primary center  detect_button' type = "submit" value="Test More Images">  
		
		</form>

	
	</div>

</body>  
</html>  